.btn {
  justify-content: center;
  width: 100%;
  height: 5.4rem;
  border-radius: 1rem;
  column-gap: 2rem;
  background-color: var(--color-main);
  color: var(--color-bg);
  font-size: 1.6rem;
}

.btn:hover,
.btn:active {
  background-color: var(--color-hover);
  transition: 0.3s all ease;
}

.btn:disabled {
  background-color: var(--color-grey);
}
