.popular {
  margin-top: 12.8rem;
  padding-bottom: 2.1rem;
  border-bottom: 0.1rem solid var(--color-rose);
  position: relative;
}

.popular::after {
  content: "";
  width: 30%;
  height: 0.4rem;
  background-color: var(--color-main);
  position: absolute;
  left: 0;
  bottom: 0;
}

.popular__title {
  justify-content: space-between;
}

.popular__content {
  margin-top: 5.9rem;
}

.popular__content .product__card {
  display: block;
  max-width: 33rem;
}
