.beginning__slider {
  margin-top: 6rem;
  /* margin: 6rem 0 0; */
}

/* .beginning__slider .slick-slide {
  margin: 0 2rem;
} */

/* the slides */
/* .slick-slide {
  margin: 0 2rem;
} */

.slick-track {
  display: flex !important;
  gap: 2rem;
}

/* the parent */
/* .slick-list {
  margin: 0 -2rem;
} */

.beginning__slider .card {
  height: 19.3rem;
  max-width: 33rem;
}

.buttons {
  margin-top: 3.9rem;
  justify-content: flex-end;
  column-gap: 2rem;
}

.button {
  justify-content: center;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background-color: var(--color-main);
  color: #fff;
  font-size: 1.8rem;
}
