.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 56.3rem;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
}

.contact__inp {
  border: 0.1rem solid var(--color-rose);
  border-radius: 1rem;
  width: 100%;
  padding: 1.7rem 2rem;
  color: var(--color-grey);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 1.6rem;
}

.ci {
  height: 5.4rem;
  width: 100%;
}
