.not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6rem;
  margin-top: 20vh;
}

.not_found > p:first-child {
  font-family: var(--title-font);
  font-size: 18rem;
  font-style: normal;
  font-weight: 700;
  line-height: 129px;
}

.not_found > p:last-child {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.2rem;
  letter-spacing: -0.72px;
}
